@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&display=swap');
//font-family: 'Lato', sans-serif;
// font-family: 'Poppins', sans-serif;
$primary-brand-color: #FD9500;
$primary-black: #222222;
$primary-white: #fff8ee;
$dark-neutral: #BFB8AD;
$light-neutral: #EBE3D9;
$affirmation: #018856;
$heading-font: 'Poppins', sans-serif;
$sub-heading-font: 'Poppins', sans-serif;
$content-font: 'Lato', sans-serif;
$light-weight: 400;
$heavy-weight: 700;