body {
  background-color: pink;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // align-items: stretch;
  // justify-content: flex-start;
  // height: auto;
  // max-height: 10vh;
  // overflow: auto;
  display: grid;
  grid-template-columns: 1fr, 4fr;
  grid-template-rows: 100%, 100%;
  grid-template-areas:
    "sidebar main"; 
}

.menu {
  border: 2px solid purple;
  background-color: cyan;
  height: 100%;
  grid-area: sidebar;
}

.mainDisplay {
  border: 2px solid blue;
  background-color: orange;
  // height: 100%;
  grid-area: main;
}

